NOTIFICATION_SERVER_PORT=8081

NOTIFICATION_DATABASE_HOST=notification-db
NOTIFICATION_DATABASE_PORT=5432
NOTIFICATION_DATABASE_USER=postgres
NOTIFICATION_DATABASE_PASSWORD=password
NOTIFICATION_DATABASE_NAME=notifications

JWT_SECRET=supersecretkey

KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_BOOKING_EVENTS=booking.events
KAFKA_GROUP_ID=notification-service
